<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <title>Admin Panel</title>
</head>

<body>
    {{message}}
    <h1>Add New Product</h1>
    <form>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="name" required />
                <small class="form-text text-danger">{{errors.name.message}}</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="number" name="price_per_piece" min="1" class="form-control" id="price_per_piece"
                    required />
                <small class="form-text text-danger">{{errors.price_per_piece.message}}</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="quantity_in_stock" class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
                <input type="number" name="quantity_in_stock" min="1" class="form-control" id="quantity_in_stock"
                    required />
                <small class="form-text text-danger">{{errors.quantity_in_stock.message}}</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <select class="form-control" name="category" id="category">
                    <option value="bookshelves">Bookshelves</option>
                    <option value="coffee_tables">Coffe Tables</option>
                    <option value="cupboards">Cupboards</option>
                    <option value="dining_chairs">Dining Chairs</option>
                    <option value="dining_tables">Dining Tables</option>
                    <option value="beds">Beds</option>
                    <option value="kitchen_cabinets">Kitchen Cabinets</option>
                    <option value="lounge_chairs">Lounge Chairs</option>
                    <option value="mattresses">Mattresses</option>
                    <option value="shoe_racks">Shoe Racks</option>
                    <option value="sofa_sets">Sofa Sets</option>
                    <option value="tv_units">TV Units</option>
                </select>
                <small class="form-text text-danger">{{errors.category.message}}</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="featured" class="col-sm-2 col-form-label">Featured</label>
            <div class="col-sm-10">
                <select class="form-control" name="featured" id="featured">
                    <option value="false" selected>False</option>
                    <option value="true">True</option>
                </select>
                <small class="form-text text-danger">{{errors.featured.message}}</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="img_url" class="col-sm-2 col-form-label">Product Image</label>
            <div class="col-sm-10">
                <input class="mt-2" type="file" name="img_url" id="img_url" required />
                <small class="form-text text-danger">{{errors.img_url.message}}</small>
            </div>
        </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button style="display:none;" type="button" id="loadingBtn" class="btn btn-primary" disabled>
                    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                    <span class="ml-2">Submitting..</span>
                </button>
                <button type="submit" id="submitBtn" class="btn btn-primary">Add Product</button>
                <button type="reset" class="btn btn-secondary ml-2">Reset</button>
            </div>
        </div>
    </form>
</body>

<script>
    const submitBtn = document.querySelector("#submitBtn");
    const loadingBtn = document.querySelector("#loadingBtn");
    const form = document.querySelector("form");
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        submitBtn.style.display = 'none';
        loadingBtn.style.display = 'inline-block';
        const formData = new FormData(form);
        const response = await fetch("/products", {
            method: 'POST',
            body: formData
        }).then(res => {
            // Have to redirect manually because of how res.redirect() works
            // when specifying status code other than 302
            window.location.replace('/admin')
        });
    });
</script>

</html>